# os files
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

# eclipse
.metadata
.settings

# java
.classpath

# project
data
src/test/java/de/voidplus/soundcloud/Settings.java
target/test-classes/
target/classes/
target/surefire-reports/
/target/
