# os files
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

# java
.classpath

# eclipse
.metadata
.settings

# intellij
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# project
target/
!target/*.jar

# sensitive env settings
src/test/java/de/voidplus/soundcloud/Settings.java